h2{
    font-size: 14pt;
}

input, textarea{
    width: 30vw;
}

textarea{
    min-width: 30vw;
    max-width: 30vw;
}

hr{
    display: block;
}

.nav-list{
    display: flex;
    width: 100vw;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav-list li{
    margin: 5px;
}

.product{
    width : 20vw;
}

.content-block{
    flex-direction: row;
}

#overContainer{
    padding: 15px;
    height: 50vh;
}

#overPicture{
    width: 20vw;
    margin: 50px;
}

#homePage{
    columns: 2;
    margin-bottom: 0;
}

#homePage p{
    text-align: justify;
}

#homePage img:first-child{
    display: block;
}

#overOns{
    flex-direction: row;
    margin-bottom: 0;
}

#overOns p{
    width: 30vw;
}

#contact{
    flex-direction: row;
    margin-bottom: 0;
}

#map{
    width: 40vw;
}

#contactContainer{
    width: 40vw;
}

#menu{
    display: none;
}

#searchbar{
    width: 20vw;
}

#spotlightContainer{
    flex-direction: row;
}